.super-mario {
  width: 200px;
  display: block;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  z-index: 1;
  display: block;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  margin-top: 60px;
  margin-left: 20px;
}

.bowser {
  width: 200px;
  display: block;
  position: absolute;
  z-index: 3;
  margin-top: 190px;
  margin-left: 250px;
}
