      h1 {
        font-family: sans-serif;
        text-decoration: underline;
      }
      p {
        font-weight: 600;
        font-size: 3em;
        font-style: oblique;
        text-align: center;
        line-height: 40px;
      }
      body {
        font-size: 16px;
      }
      #yellow {
        background-color: sandybrown;
        font-weight: 700;
        text-align: center;
      }
      #red {
        background-color: tomato;
        font-weight: 700;
        text-align: center;
      }
      #brown {
        background-color: rgb(138, 35, 35);
        font-weight: 700;
        text-align: center;
      }